<div id=
	"1"
	>
<div class="podiumcontainer">
		<img class="badge podiumelement" src="../static/badges/badge1.png">
		<p class="podiumelement">
			Some individual here
		</p>
		<p class="podiumelement">
			Some team here
		</p>
		<p class="podiumelement">
			XXX 
		</p>
		<p class="podiumelement">
			XXX 
		</p>
</div>
<!--Now we add the table for the points-->
<div class="tablecontainer hidden" id=
	"t1"
	>
	<p class="tableelement">
		Promig
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
		Punts totals
	</p>
	<p class="tableelement">
		XX,XX
	</p>
	<p class="tableelement">
		XX
	</p>
	<p class="tableelement">
		XXX
	</p>
	</div>
</div>