<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/eqfstyle.css">
	<link href='https://css.gg/arrow-left.css' rel='stylesheet'>
	<script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
	<script defer src="../static/js/eqfscript.js"></script>

	<title>Bitlles a la fresca</title>
</head>

<header>
	<div class="headercolumn notad">
		<img class="notad" id="headerlogo" src="../static/logo.png">
	</div>
	
	<div class="headercolumn notad">
		<h1>
			Classificacions equips federats 22
		</h1>
	</div>
</header>

<body>
	<div class="ad">
	<div class="adelement"><img class="adlogo" src="../static/logo.png"></div>
	<div class="adelement"><p id="patrocinadorstxt">Patrocinadors</p></div>
	<div class="adelement">
		<img src="../static/ads/ad{{ad1}}.png" class="adimage">
	</div>
	<div class="adelement">
		<img src="../static/ads/ad{{ad2}}.png" class="adimage">
	</div>
	<div class="adelement"></div>
</div>	<div class="notad" id=
"1"	>
<div class="podiumcontainer">
<img class="badge podiumelement" src="../static/badges/badge1.png">		<p class="podiumelement">
La Penya del Bistec		</p>
		<p class="podiumelement">
712		</p>
		<p class="podiumelement">
376		</p>
</div>
<!--Now we add the table for the points-->
<div class="tablecontainer hidden" id=
"t1"	>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
336	</p>
	<p class="tableelement">
376	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
58	</p>
</div>
</div><div class="notad" id=
"2"	>

	<div class="listcontainer">

		<p class="listelement">
2		</p>

		<p class="listelement">
Bitlla Atòmica		</p>

		<p class="listelement">
671		</p>

		<p class="listelement">
325		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t2"		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
346	</p>
	<p class="tableelement">
325	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
46	</p>
</div>
		
</div><div class="notad" id=
"3"	>

	<div class="listcontainer">

		<p class="listelement">
3		</p>

		<p class="listelement">
5 + 1@		</p>

		<p class="listelement">
670		</p>

		<p class="listelement">
320		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t3"		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
350	</p>
	<p class="tableelement">
320	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
50	</p>
</div>
		
</div><div class="notad" id=
"4"	>

	<div class="listcontainer">

		<p class="listelement">
4		</p>

		<p class="listelement">
Bitllaires de Fogars "A"		</p>

		<p class="listelement">
621		</p>

		<p class="listelement">
305		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t4"		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
316	</p>
	<p class="tableelement">
305	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
40	</p>
</div>
		
</div><div class="notad" id=
"5"	>

	<div class="listcontainer">

		<p class="listelement">
5		</p>

		<p class="listelement">
Vila de Tordera		</p>

		<p class="listelement">
592		</p>

		<p class="listelement">
310		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t5"		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
282	</p>
	<p class="tableelement">
310	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
45	</p>
</div>
		
</div><div class="notad" id=
"6"	>

	<div class="listcontainer">

		<p class="listelement">
6		</p>

		<p class="listelement">
Caçabitlles		</p>

		<p class="listelement">
573		</p>

		<p class="listelement">
288		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t6"		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
285	</p>
	<p class="tableelement">
288	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
36	</p>
</div>
		
</div><div class="notad" id=
"7"	>

	<div class="listcontainer">

		<p class="listelement">
7		</p>

		<p class="listelement">
Bitllaires de Fogars "B"		</p>

		<p class="listelement">
534		</p>

		<p class="listelement">
294		</p>
		
	</div>

	<div class="tablecontainer hidden" id=
"t7"		>
	<p class="tableelement">
		Dilluns
	</p>
	<p class="tableelement">
		Dimarts
	</p>
	<p class="tableelement">
		Dimecres
	</p>
	<p class="tableelement">
		Dijous
	</p>
	<p class="tableelement">
		Divendres
	</p>
	<p class="tableelement">
		Bitlles
	</p>
	<p class="tableelement">
240	</p>
	<p class="tableelement">
294	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
-	</p>
	<p class="tableelement">
34	</p>
</div>
		
</div><div class="px25"></div>

</body>

<footer class="notad">
<img class="notad" id="footerlogo" src="../static/logo.png">

<span class="notad" id="spacer"></span>
	
	<a class="link-spanner notad" href="/index"><span class="link-spanner notad"></span></a>
	<svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
	id="tomenu"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M20.3284 11.0001V13.0001L7.50011 13.0001L10.7426 16.2426L9.32842 17.6568L3.67157 12L9.32842 6.34314L10.7426 7.75735L7.49988 11.0001L20.3284 11.0001Z"
    fill="currentColor"
  />
</svg>
</footer>
</html>